apiVersion: apps/v1
kind: Deployment
metadata:
  name: splunk
  namespace: splunk
spec:
  replicas: 1
  selector:
    matchLabels:
      app: splunk
  template:
    metadata:
      labels:
        app: splunk
    spec:
      terminationGracePeriodSeconds: 120
      nodeSelector:
        kubernetes.io/hostname: k8s-worker2 
      securityContext:  
        runAsUser: 999
        runAsGroup: 999
        fsGroup: 999
      containers:
        - name: splunk
          image: splunk/splunk:9.2.1
          ports:
            - containerPort: 8000
            - containerPort: 8088
          env:
            - name: SPLUNK_GENERAL_TERMS
              value: "--accept-sgt-current-at-splunk-com"
            - name: SPLUNK_START_ARGS
              value: "--accept-license"
            - name: SPLUNK_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: splunk-secret
                  key: SPLUNK_PASSWORD
          resources:
            requests:
              cpu: "1"
              memory: "2Gi"
            limits:
              cpu: "2"
              memory: "4Gi"
          volumeMounts:
            - name: splunk-storage
              mountPath: /opt/splunk/var
      volumes:
        - name: splunk-storage
          persistentVolumeClaim:
            claimName: splunk-pvc
